@using System.Web.Mvc.Html;
@model p2groep04.Models.ChangePasswordModel

@{
    ViewBag.Title = "Change Password";
}

<h2>ChangePassword</h2>
<div class="pane">
    @Html.Partial("ChangePasswordPartial", Model)
</div>

