@using System.Activities.Statements
@using System.Web.Mvc.Html
@using p2groep04.Helpers
@using p2groep04.Models.Domain
@model p2groep04.Models.Domain.Suggestion

@{
    ViewBag.Title = "Voorstel";
}

<h2>Voorstellen</h2>
<div id="suggestion-view">
    <div>
        <span>ID: </span>
        <p>@Html.DisplayFor(model => model.Id)</p>
    </div>
    <div>
        <span>Title: </span>
        <p>@Html.DisplayFor(model => model.Title)</p>
    </div>
    <div>
        <span>Subject: </span>
        <p>@Html.DisplayFor(model => model.Subject)</p>
    </div>
</div>


<div id="feedback">
    <h2>Feedback</h2>
    @*feedback geven*@
    <p>Boxes</p>
    @* @if (Html.User().GetType() != typeof (Student))
    {
        
    }*@
</div>

<div id="actions">
    @if (Html.User().GetType() == typeof(Promotor))
    {
        //button voor status --> goedgekeurd (approve of approve with feedback)
        //button voor status --> naar nieuw voorstel (decline)
        //button voor feedback toe te voegen (status verandert niet)
    } 
</div>
