@model IEnumerable<p2groep04.Models.Domain.Suggestion>

@{
    ViewBag.Title = "Suggestions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Suggestions</h2>

@foreach (var suggestion in Model)
{
    <div>
        <p>Suggestion.Titel</p>
        Suggestion.Subject
        Suggestion.ResearchQuestion
        Suggestion.CurrentState
        suggestion
    </div>
    
}
