@using System.Web.Mvc.Html
@{
    ViewBag.Title = "Dashboard";
}

<section id="dashboard" class="pane"></section>

<!-- Voorstel beheer -->
<section id="tools">
    <div class="category fadeInRight">
        <h2 class="category-header">Voorstellen</h2>
        <div class="category-content pane">
            <ul class="category-menu">
                <li>@Html.ActionLink("Voorstel Aanmaken", "Create", "Suggestion")</li>
                <li><a href="#">Voorstellen weergeven</a></li>
            </ul>
        </div>
    </div>
</section>