@{
    ViewBag.Title = "Dashboard";
}

<section id="dashboard" class="pane"></section>

<!-- Voorstel beheer -->
<section id="tools">
    <div class="category fadeInRight">
        <h2 class="category-header">Voorstellen</h2>
        <div class="category-content pane">
            <ul class="category-menu">
                <li><a href="#">Voorstel indienen</a></li>
                <li><a href="#">Voorstel bekijken</a></li>
            </ul>
        </div>
    </div>
</section>