@model p2groep04.Models.LogInResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css"/>
    <title>Log-in</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            <p>Your username: @Html.TextBoxFor(x => x.Name)</p>
            <p>Your password: @Html.TextBoxFor(x => x.Password)</p>
            <input type="submit" value="Log in"/>
        }
        @Html.ActionLink("Forgot Password?", "ForgotPasswordForm")
    </div>
</body>
</html>
